{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Empresa Software Soluções<br />
    Rua do Código, 1010<br />
    <abbr title="Telefone">Tel:</abbr>
    91010-1010
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<p>Nome: Rodrigo Heiji RA:1800458</p>
<p>Nome: Wilter Rogerio Satake RA:1801267</p>
<p>Nome: Douglas Costa Rodrigues RA:1411021</p>
<p>Nome: Tiago Feliciano Floriano RA:1801197</p>
<p>Nome: Bruno Andreaça de Deus RA:1801212</p>
<p>Nome: João Carlos Soares Cerqueira Junior RA:1801127</p>

{% endblock %}
